<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
      <div class="container">
      <header class="header">
        <img src="./images/v5_8.png" alt="logo" class="logo" height="30px"/>
        <nav class="navbar">
          <i class="bi bi-list" onclick="openmenu()"></i>
          <ul class="nav-list" id="menu">
            <i class="bi bi-x" onclick="closemenu()"></i>
            <li onclick="closemenu()"><a href="/list">Schedule</a></li>
            <li onclick="closemenu()"><a href="/login">logout</a></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <div class="color-boxes">
          <div class="colors Under">Under Booked</div>
          <div class="colors Enough">Enough</div>
          <div class="colors Over">Over Booked</div>
        </div>
        <div class="days">
          {{#each groupedDays}}
          <div class="day {{#ifCond @key '===' 'saturday'}}center-day{{/ifCond}}">
            <div class="top">
              <div class="nameofday  {{#eq this.length 1}}Under{{else}}{{#eq this.length 3}}Enough{{/eq}}{{/eq}} {{lookup ../overGroupedDaysClass @key}}">
                {{capitalize @key}}
              </div>
              <div class="loading">
              {{#eq this.length 1}}
              <div class="waiter-bar first"></div>
              <div class="waiter-bar"></div>
              <div class="waiter-bar"></div>
              {{else}}
              {{#eq this.length 2}}
              <div class="waiter-bar first"></div>
              <div class="waiter-bar first"></div>
              <div class="waiter-bar"></div>
              {{else}}
              {{#eq this.length 3}}
              <div class="waiter-bar first"></div>
              <div class="waiter-bar first"></div>
              <div class="waiter-bar first"></div>
              {{/eq}}
              {{/eq}}
              {{/eq}}
              </div>
            </div>
            <div class="names">
              {{#each this}} <!-- Iterate through the waiters array for the current day -->
              <p>{{waiter_name}}</p>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
</body>
</html>