<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <img src="./images/v5_8.png" alt="logo" class="logo" height="30px"/>
        <nav class="navbar">
          <i class="bi bi-list" onclick="openmenu()"></i>
          <ul class="nav-list" id="menu">
            <i class="bi bi-x" onclick="closemenu()"></i>
            <li onclick="closemenu()"><a href="/login">logout</a></li>
          </ul>
        </nav>
      </header>
      <div class="content-waiter">
        <form action="/waiter/{{name}}" method="post" class="content-waiter">
        <h2>Welcome, <span >{{name}}</span></h2>
        <p>Please select days you can work on</p>
        <input type="hidden" name="userName" id="data-name" value="{{name}}" />
        {{#if messages.error}}
        <div class="error"><p class="mess">{{messages.error}}</p></div>
        {{/if}}
        {{#if messages.success}}
        <div class="success"><p class="mess">{{messages.success}}</p></div>
        {{/if}}
        <table>
            <tr>
                <th>Select</th>
                <th>Days</th>
            </tr>
            <tr >
                {{#contains daysWithUser 'sunday'}}
                <td><input type="checkbox" class="Sunday" name="day" id="sunday" value="sunday"></td>
                {{else}}
                <td><input type="checkbox" name="day" id="sunday" value="sunday"></td>
                {{/contains}}
                <td>Sunday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'monday'}}
              <td><input type="checkbox" name="day" id="Monday" value="monday" class="Monday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Monday" value="monday"> </td>
              {{/contains}}               
              <td>Monday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'tuesday'}}
              <td><input type="checkbox" name="day" id="Tuesday" value="tuesday" class="Tuesday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Tuesday" value="tuesday"> </td>
              {{/contains}}   
              <td>Tuesday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'wednesday'}}
               <td><input type="checkbox" name="day" id="Wednesday" value="wednesday" class="Wednesday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Wednesday" value="wednesday"> </td>
              {{/contains}} 
              <td>Wednesday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'thursday'}}
               <td><input type="checkbox" name="day" id="Thursday" value="thursday" class="Thursday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Thursday" value="thursday"> </td>
              {{/contains}} 
              <td>Thursday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'friday'}}
               <td><input type="checkbox" name="day" id="Friday" value="friday" class="Friday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Friday" value="friday"> </td>
              {{/contains}}  
              <td>Friday</td>
            </tr>
            <tr >
              {{#contains daysWithUser 'saturday'}}
               <td><input type="checkbox" name="day" id="Saturday" value="saturday" class="Saturday"> </td>
              {{else}}
              <td><input type="checkbox" name="day" id="Saturday" value="saturday"> </td>
              {{/contains}} 
              <td>Saturday</td>
            </tr>
        </table>
        <div class="buttons">
            <button type="submit">Submit</button>
        </form>
        <a href="/schedule"><button type="button">Schedule</button></a>
            
        </div>
      </div>
    </div>
  </body>
</html>